<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bbb.css">
    <title>nostalgia anos 80 a 90</title>
</head>
<body>
    <h1>nostalgia anos 80 a 90</h1>
    <h2>Reviva os clássicos dos anos 80 e 90</h2>
    <img src="img/batleite.jpg" alt="batleite" height="300" width="auto">
    <img src="img/excubidu.jpg" alt="excubidu" height="300" width="auto">
    <img src="img/mine.jpg" alt="mine" height="300" width="auto">
    <img src="img/gt4.jpg" alt="gt4" height="300" width="auto">
</body>
</html>